
//
// # Fonts
// =============================================================================

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/inter-3.3/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/inter-3.3/Inter-Medium.woff2') format('woff2');
}

//
// # Keyframes
// =============================================================================

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

//
// # Reset
// =============================================================================
// 1. NOTE: Webkit iOS: enable momentum scrolling on overflow elements
// 2. NOTE: Prevent tap delay on touch devices
// 3. NOTE: Prevent mobile devices from scaling font size
// 4. HACK: Safari: `position: fixed` sets `font-smoothing` to `antialiased`

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  -webkit-overflow-scrolling: touch; // 1
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  touch-action: manipulation; // 2
  -webkit-text-size-adjust: none; // 3
}

body {
  color: $dark-1;
  font: 400 1em/1 $font-inter;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; // 4
}

.app {
  &.-fade {
    display: flex;
    pointer-events: none;

    > div {
      position: absolute;
      width: 100%;

      &:last-child {
        animation: fadeout 0.25s forwards;
      }
    }
  }
}
