
%chat-top {
  height: 512px;
  padding: 12px 18px;
  border: solid 1px $gray-2;
  background: $white;
}

.chat-comment {
  @extend %chat-top;
  width: 320px;
  border-left: 0;
  border-radius: 0 6px 0 0;
  font: 14px/16px $font-roboto;
  overflow: scroll;
  scroll-behavior: smooth;
  word-wrap: break-word;
}

.chat-client {
  @extend %chat-top;
  border-radius: 6px 0 0;
}

.chat {
  display: flex;

  div {
    &:first-child {
      flex: 1;
    }
  }

  input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 0 0 18px;
    border: solid 1px $gray-2;
    border-top: 0;
    border-bottom-width: 2px;
    outline: none;

    &[placeholder='Message'] {
      border-left: 0;
      border-radius: 0 0 6px;
    }

    &[placeholder='Name'] {
      border-radius: 0 0 0 6px;
    }

    &::placeholder {
      color: $gray-3;
    }
  }
}
