
.home-comments {
  min-height: 512px;
  padding: 12px 18px;
  border: solid 1px $gray-2;
  border-top-width: 0;
  border-bottom-width: 0;
  font: 14px/16px $font-roboto;
  background: $white;
}

.home-list {
  height: 100%;
  padding: 12px 18px;
  border: solid 1px $gray-2;
  border-right-width: 0;
  border-bottom-width: 2px;
  border-radius: 6px 0 0 6px;
  background: $white;
}

.home-main {
  display: flex;

  div {
    &:last-child {
      flex: 1;
    }
  }
}

.home {
  max-width: 480px;
  margin: auto;
  color: $dark-1;

  h1 {
    padding: 0 0 12px;
    color: $gray-5;
    font: bold 18px/1 $font-roboto;
    text-align: center;
  }

  input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 0 0 18px;
    border: solid 1px $gray-2;
    outline: none;

    &:last-of-type {
      border-bottom-width: 2px;
      border-radius: 0 0 6px;
    }

    &:first-of-type {
      border-radius: 0 6px 0 0;
    }

    &::placeholder {
      color: $gray-3;
    }
  }
}
