
%home-top {
  min-height: 512px;
  padding: 12px 18px;
  border: solid 1px $gray-2;
  background: $white;
}

.home-comment {
  @extend %home-top;
  border-left: 0;
  border-radius: 0 6px 0 0;
  font: 14px/16px $font-roboto;
}

.home-client {
  @extend %home-top;
  border-radius: 6px 0 0;
}

.home-main {
  display: flex;

  div {
    &:last-child {
      flex: 1;
    }
  }
}

.home {
  max-width: 480px;
  margin: auto;
  color: $dark-1;

  h1 {
    padding: 0 0 12px;
    color: $gray-5;
    font: bold 18px/1 $font-roboto;
    text-align: center;
  }

  input {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 0 0 18px;
    border: solid 1px $gray-2;
    border-top: 0;
    border-bottom-width: 2px;
    outline: none;

    &[placeholder='Message'] {
      border-left: 0;
      border-radius: 0 0 6px;
    }

    &[placeholder='Name'] {
      border-radius: 0 0 0 6px;
    }

    &::placeholder {
      color: $gray-3;
    }
  }
}
