
//
@import '../env';

//
@import './shared/styles/colors';
@import './shared/styles/fonts';

//
@import './shared/styles/stock';

//
@import './styles/chat';
@import './styles/home';

//
.app {
  padding: 56px 0 0;

  &.-fade {
    display: flex;
    pointer-events: none;

    > div {
      position: absolute;
      width: 100%;

      &:first-child {
        animation: fadein 0.25s forwards;
      }

      &:last-child {
        animation: fadeout 0.25s forwards;
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
