
.home-comments {
  padding: 12px 0 0;
}

.home {
  max-width: 480px;
  margin: auto;
  padding: 24px;
  border: solid 1px $gray-2;
  border-bottom-width: 2px;
  border-radius: 3px;
  background: $white;

  h1 {
    font: bold 16px/1 $font-roboto;
    text-align: center;
  }

  input {
    display: block;
    width: 100%;
    height: 44px;
    margin: 12px 0 0;
    padding: 0 0 0 12px;
    border: solid 1px $gray-2;
    border-radius: 3px;
    outline: none;

    &:focus {
      border-color: $blue;
    }

    &::placeholder {
      color: $gray-3;
    }
  }
}
